form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
input{
    width: 50%;
}
select{
    width: 50%;
}
button{
    width: 20%;
}
header{
    display: flex;
    justify-content: center;
    background-image: url('image.jpg');
    color: rgb(199, 30, 30);
    font-family: cursive;
    font-size: larger;
}
body{
    color: white;
    font-size: large;
    background-image: url('image2.jpg');
}
div.this{
    background-color: #554f4f90;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    
}

